[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-dotenv = "*"
django-cryptography = "*"
psycopg2-binary = "*"
django-storages = "*"
boto3 = "*"
pillow = "*"
djangorestframework = "*"
awsebcli = "*"
gunicorn = "*"
whitenoise = "*"
twilio = "*"
django-otp = "*"
django-otp-twilio = "*"
pyotp = "*"

[dev-packages]

[requires]
python_version = "3.13"
